@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  background-image: url(img/tiago-calliari-anyone.jpg);
  
  background-size: cover; 
  background-position: right;
  background-repeat: no-repeat;
  
  
  background-color: #1e213f;
  color: #d7e0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.timer {
  display: inline-block;
  padding: 20px;
  width: 600px;
  box-sizing: border-box;
}

main {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}


h1 {
  font-size: 2rem;
  margin: 20px auto;
}


.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.time {
  font-size: 5rem;
  margin: 20px auto;
}

.button {
  background-color: #2e325a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all .2s ease-in;
}

.button.active, .button:hover {
  background-color: #020323;
}

.timer-display {
  font-size: 5em;
  margin-top: 20px;
  font-weight: bold;
  display: none;
}

.buttons {
  margin-top: 20px;
}

#start, #stop {
  background-color: #2e325a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: all .2s ease-in;
}

#stop:hover {
  background-color: tomato;
}

#start:hover {
  background-color: #219e52;
}

#timer-message {
  color: white;
  background-color: tomato;
  display: none;
  padding: 5px;
  font-size: 1rem;
  text-align: center;
  border-radius: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    transform: scale(0.9);
  }
  
  .timer {
    width: 500px;
  }
}

